<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <!-- ------------ SEO ------------ -->

    <!-- Global SEO -->
    <title>Zabbix Reports - Generate The Best Data Reports</title>
    <meta name="description"
        content="Zabbix reporting is a tool that helps you generate data reports. With zabbix, you can generate data reports from the best data analysis platforms available on the market.">
    <meta name="author" content="Service Monit">
    <meta name="robots" content="index, follow">
    <meta name="subject" content="Presentation page of the Zabbix Reports tool">
    <meta name="abstract" content="Zabbix Reports presentation page">
    <meta name="coverage" content="Worldwide">
    <meta name="format-detection" content="telephone=no">
    <!-- <meta name="url" content="COLOCAR O DOMÍNIO OU LINK DA PÁGINA AQUI"> -->

    <!-- Open Graph Facebook -->
    <meta property="og:title" content="Zabbix Reports - Generate The Best Data Reports">
    <meta property="og:description"
        content="Zabbix reporting is a tool that helps you generate data reports. With zabbix, you can generate data reports from the best data analysis platforms available on the market">
    <meta property="og:site_name" content="Zabbix Reports">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/seo/zabbix-social-image.jpg">
    <!-- <meta property="og:url" content="COLOCAR LINK DESSA PÁGINA AQUI"> -->

    <!-- Open Graph Twitter -->
    <meta name="twitter:title" content="Zabbix Reports - Generate The Best Data Reports">
    <meta name="twitter:description"
        content="Zabbix reporting is a tool that helps you generate data reports. With zabbix, you can generate data reports from the best data analysis platforms available on the market">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="/images/seo/zabbix-social-image.jpg">
    <!-- <meta name="twitter:url" content="COLOCAR O DOMÍNIO OU LINK DA PÁGINA AQUI"> -->

    <!-- Apple iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Zabbix Reports - Generate The Best Data Reports">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- <link rel="canonical" href="COLOCAR O DOMÍNIO OU LINK DA PÁGINA AQUI"> -->
    <link href="/images/icons/favicon.png" rel="icon" />
    <link href="/stylesheets/index/index.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/index/resp_1150.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/index/resp_945.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/index/resp_750.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/index/resp_516.css" rel="stylesheet" type="text/css">
</head>

<body>
    <main>
        <section class="home" id="home">
            <header>
                <div class="logo">
                    <h1>Zabbix Reports</h1>
                    <img importance="high" src="/images/logo/logo.svg" alt="Zabbix Reports Logo" />
                </div>
                <nav role="navigation" id="desktop-menu">
                    <ul>
                        <li><a href="#about" class="nav-link">About</a></li>
                        <li><a href="#prices" class="nav-link">Prices</a></li>
                        <li><a href="#video" class="nav-link">Videos</a></li>
                        <li><a href="#contact" class="nav-link">Contact</a></li>
                        <li><a target="_blank" href="http://report.zabbix.report/">Start Now</a></li>
                    </ul>
                </nav>

                <div class="show-mobile-menu-icon" id="show-mobile-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <nav role="navigation" class="mobile-menu hide-menu">
                    <ul>
                        <li><a href="#about" class="nav-link">About</a></li>
                        <li><a href="#prices" class="nav-link">Prices</a></li>
                        <li><a href="#video" class="nav-link">Videos</a></li>
                        <li><a href="#contact" class="nav-link">Contact</a></li>
                        <li><a target="_blank" href="http://report.zabbix.report/">Start Now</a></li>
                    </ul>
                </nav>
            </header>
            <article class="home-content">
                <div class="home-content-left">
                    <div class="text-content">
                        <h2>Get reports quickly and easily</h2>
                        <p>With <strong>Zabbix Reports</strong> you can generate data reports from the best data
                            analysis
                            platforms!</p>
                        <a href="#getting-started" id="gs-link" class="try-it-btn">Try it now</a>
                    </div>
                </div>
                <div class="home-content-right">
                    <img src="/images/illustrations/home-illustration.svg" alt="minimalistic work illustration" />
                </div>
            </article>
        </section>
        <section class="features" id="about">
            <div class="subtitle-container">
                <h2>Zabbix Reports is <br /> amazing</h2>
            </div>
            <div class="feature-cards">
                <article>
                    <div class="feature-card-img">
                        <img src="/images/illustrations/edit.svg" alt="edit a zabbix" />
                    </div>
                    <div class="text-container">
                        <h3>Models</h3>
                        <p>Create and save unlimited template templates any way you want!</p>
                    </div>
                </article>
                <article>
                    <div class="feature-card-img">
                        <img src="/images/illustrations/save.svg" alt="save a zabbix" />
                    </div>
                    <div class="text-container">
                        <h3>Save</h3>
                        <p>Save your reports unlimited</p>
                    </div>
                </article>
                <article>
                    <div class="feature-card-img">
                        <img src="/images/illustrations/export.svg" alt="export a zabbix" />
                    </div>
                    <div class="text-container">
                        <h3>Export</h3>
                        <p>When you finish your report, simply export to HTML or PDF.</p>
                    </div>
                </article>
                <article>
                    <div class="feature-card-img">
                        <img src="/images/illustrations/vhost.svg" alt="have your own vhost" />
                    </div>
                    <div class="text-container">
                        <h3>vHost</h3>
                        <p>Have your own vhost</p>
                        <p>yourdomain.zabbix.report</p>
                    </div>
                </article>
            </div>
        </section>
        <section class="prices" id="prices">
            <article class="prices">
                <div class="subtitle-container">
                    <h2><span id="fc">Start free</span><span id="lc">, Pay only if you like it!</span></h2>
                </div>
                <div class="content-container">
                    <div class="big">
                        <div class="price-card" id="alone">
                            <header>
                                <h4>Alone</h4>
                            </header>
                            <div class="content">
                                <h3 class="content-title">Only one template can be created, you can insert a brand for
                                    customization.
                                </h3>
                                <h4 class="content-p">For each additional report you need, you will get a 5% discount
                                    off the amount previously paid</h4>
                            </div>
                            <div class="btn-container">
                                <button class="card-btn">$ 50</button>
                            </div>
                        </div>
                        <div class="price-card" id="customize">
                            <header>
                                <h4>Customize</h4>
                            </header>
                            <div class="content">
                                <h3 class="content-title">Create your own plan with your business needs</h3>
                                <div class="list">
                                    <h4>You can:</h4>
                                    <span> - Save unlimited reports;</span>
                                    <span> - Create unlimited templates;</span>
                                    <span> - Save unlimited reports;</span>
                                    <span> - vHost custom.</span>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="card-btn">Make your plan now!</button>
                            </div>
                        </div>
                        <div class="price-card" id="reseller">
                            <header>
                                <h4>Reseller</h4>
                            </header>
                            <div class="content">
                                <div class="list-center">
                                    <span>Start with 10 Zabbix</span>
                                    <span>Unlimited Reporting Templates;</span>
                                    <span>Save Unlimited Report;</span>
                                    <span>Can create 2 users for each zabbix;</span>
                                    <span>vHost custom.</span>
                                </div>
                            </div>
                            <div class="btn-container">
                                <button class="card-btn">Become a reseller!</button>
                            </div>
                        </div>
                    </div>
                    <div class="small">
                        <div class="subtitle-container">
                            <h2>Choose the best plan for you</h2>
                        </div>
                        <div class="paragraph-container">
                            <p>Click the button below and
                                follow the steps to start
                                making your <strong>reports</strong>.</p>
                        </div>
                        <div class="button-container">
                            <!-- LINK DO PAY PAL AQUI -->
                            <a id="pay-pal-btn" href="LINK DO PAY PAL AQUI">
                                <img src="/images/icons/paypal.svg" alt="paypal logo">
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <section class="videos" id="video">
            <article class="demo-video">
                <div class="subtitle-container">
                    <h2>Learn how to generate your first report</h2>
                </div>
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/8HlPCyQRiek" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <a target="_blank" href="https://www.youtube.com/channel/UCVaLF_9xtCOeVnCJZJ1MTEA">Watch more
                        videos</a>
                </div>
            </article>
        </section>
        <div class="getting-started" id="getting-started">
            <div class="subtitle-container">
                <h2>Try it now for free!</h2>
            </div>
            <div class="content">
                <div class="content-left">
                    <img id="rocket" src="/images/illustrations/rocket.svg" alt="rocket illustration">
                </div>
                <div class="content-right">
                    <h3>Sign in with these credentials</h3>
                    <span>Login: demo</span>
                    <span>Password: demo</span>
                    <div class="link-container">
                        <a target="_blank" href="http://report.zabbix.report/" class="try-it-btn">Try it now</a>
                    </div>
                </div>
            </div>
        </div>
        <section class="contact" id="contact">
            <div class="contact-content">
                <article class="faq">
                    <h2>FAQ</h2>
                    <div class="dropdown">
                        <div class="row">
                            <header class="row-header">
                                <h4>What’s ZABBIX Reports</h4>
                                <div class="plus-icon">
                                    <div class="x"></div>
                                    <div class="y"></div>
                                </div>
                            </header>
                            <div class="dropdown-items hide-dropdown">
                                <span>Zabbix is ​​a corporate monitoring solution that focuses on monitoring data from a wide range of equipment and hardware to help companies obtain or obtain maximum information about a particular service generated at the end of the business</span>
                            </div>
                        </div>
                        <div class="row">
                            <header class="row-header">
                                <h4>How much Zabbix Reports?</h4>
                                <div class="plus-icon">
                                    <div class="x"></div>
                                    <div class="y"></div>
                                </div>
                            </header>
                            <div class="dropdown-items hide-dropdown">
                                <span>
                                    It depends on the plan, you can choose yours by <strong><a id="faqLnk" href="#prices">clicking here</a></strong>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <header class="row-header">
                                <h4>What are the payment methods?</h4>
                                <div class="plus-icon">
                                    <div class="x"></div>
                                    <div class="y"></div>
                                </div>
                            </header>
                            <div class="dropdown-items hide-dropdown">
                                <span>You can pay any payment method accepted by PayPal</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="contact-form">
                    <h2>Get in touch</h2>
                    <h3>Send us your question</h3>
                    <form action="/message-sended" method="POST">
                        <input type="text" name="name" autocomplete="off" placeholder="Your name">
                        <input type="email" name="email" autocomplete="off" placeholder="Your email">
                        <textarea name="message" rows="1" autocomplete="off" autocapitalize="true"
                            placeholder="What's your question?"></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <div class="right">
                <img src="/images/logo/footer-logo.svg" alt="Zabbix Reports Logo">
                <p class="copy">&copy 2019 Service Monit All rights reserved</p>
            </div>
            <div class="left">
                <nav role="navigation">
                    <ul>
                        <li><a class="nav-link" href="#about">About</a></li>
                        <li><a class="nav-link" href="#prices">Prices</a></li>
                        <li><a class="nav-link" href="#video">Videos</a></li>
                        <li><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
    <div id="effect" class="hide-effect"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>
    <script src="/javascripts/index/menu.js"></script>
    <script src="/javascripts/index/dropdown.js"></script>
    <script src="/javascripts/index/smoothScroll.js"></script>
    <script src="/javascripts/index/animations.js"></script>
    <script src="/javascripts/index/cards.js"></script>
</body>

</html>