<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    
    <!-- ------------ SEO ------------ -->

    <!-- Global SEO -->
    <title>Zabbix Reports - Message Received</title>
    <meta name="description" content="We received your message and We will send you an email as soon is possible with all the answers you are looking for">
    <meta name="author" content="Service Monit">
    <meta name="robots" content="index">
    <meta name="subject" content="Zabbix Reports message receipt confirmation">
    <meta name="abstract" content="Message receipt confirmation">
    <meta name="coverage" content="Worldwide">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="oYsH4izs4RtxRwuaKFhMf0gJP1tsFmlA5IMFhAaOG18" />
    <!-- <link rel="canonical" href="COLOCAR O LINK DESSA PÁGINA AQUI"> -->

    <!-- Open Graph Facebook -->
    <meta property="og:title" content="Zabbix Reports - Message Received">
    <meta property="og:description" content="We received your message and We will send you an email as soon is possible with all the answers you are looking for">
    <meta property="og:site_name" content="Zabbix Reports">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/seo/zabbix-social-image.jpg">
    <!-- <meta property="og:url" content="COLOCAR LINK DESSA PÁGINA AQUI"> -->

    <!-- Open Graph Twitter -->
    <meta name="twitter:title" content="Zabbix Reports - Message Received">
    <meta name="twitter:description" content="We received your message and We will send you an email as soon is possible with all the answers you are looking for">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="/images/seo/zabbix-social-image.jpg">
    <!-- <meta name="twitter:url" content="COLOCAR O LINK DA PÁGINA AQUI"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="/images/icons/favicon.png" />
    <link rel="stylesheet" href="/stylesheets/support/index.css">
</head>

<body>
    <main>
        <section>
            <h1>Zabbix Reports</h1>
            <h2>We received your message</h2>
            <h3>We will send you an email with all the answers you are looking for!</h3>
            <a href="/">Go back</a>
            </div>
        </section>
    </main>
</body>

</html>